/* Responsive Media Query */
@media (max-width: 1190px) {
    section .content{
      width: 85%;
    }
  }
  @media (max-width: 1000px) {
    .about .about-details{
      justify-content: center;
      flex-direction: column;
    }
    .about .about-details .left{
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .about-details .right{
      width: 90%;
      margin: 40px 0;
    }
  
  }
  @media (max-width: 900px) {
    .about .left img{
      height: 350px;
      width: 350px;
    }
  }
  
  @media (max-width: 900px) {
    nav .navbar{
      width: 90%;
    }
    nav .navbar .menu{
      position: fixed;
      right: -100%;
      top: 0;
      background: #0E2431;
      height: 100vh;
      max-width: 400px;
      width: 100%;
      padding-top: 60px;
      flex-direction: column;
      align-items: center;
      transition: all 0.5s ease;
    }
    .navbar.active .menu{
      right: 0;
    }
    nav .navbar .menu a{
      font-size: 23px;
      display: block;
      color: #fff;
      margin: 10px 0;
    }
    nav.sticky .menu a:hover{
      color: #4070f4;
    }
    nav .navbar .media-icons{
      display: none;
    }
    nav .menu-btn,
    .navbar .menu .cancel-btn{
      display: block;
    }
    .home .text-two{
      font-size: 65px;
    }
    .home .text-three{
      font-size: 35px;
    }
  
    
    .contact .text{
      width: 100%;
  }
  }
  
  @media (max-width: 500px){
    .home .text-two{
      font-size: 55px;
    }
    .home .text-three{
      font-size: 33px;
    }
  
  }

  @media (max-width: 992px) {
    .project-item {
        width: calc(50% - 20px); /* Adjust for tablet view */
    }
}

@media (max-width: 768px) {
    .project-item {
        width: 100%; /* Adjust for mobile view */
    }
}