/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}


/* navbar styling */
nav{
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}
nav.sticky{
  background: #3FA2F6;
  padding: 13px 0;
}
nav .navbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .logo a{
  font-weight: 500;
  font-size: 35px;
  color: #3FA2F6;
}
nav.sticky .navbar .logo a{
  color: #fff;
}
nav .navbar .menu{
  display: flex;
  position: relative;
}
nav .navbar .menu li{
  list-style: none;
  margin: 0 8px;
}
.navbar .menu a{
  font-size: 18px;
  font-weight: 500;
  color: #0E2431;
  padding: 6px 0;
  transition: all 0.4s ease;
}
.navbar .menu a:hover{
  color: #3FA2F6;
}
nav.sticky .menu a{
  color: #FFF;
}
nav.sticky .menu a:hover{
  color: #0E2431;
}
.navbar .media-icons a{
  color: #3FA2F6;
  font-size: 18px;
  margin: 0 6px;
}
nav.sticky .media-icons a{
  color: #FFF;
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn{
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color: #3FA2F6;
}
nav.sticky .menu-btn{
  color: #FFF;
}
.navbar .menu .menu-btn{
  color: #fff;
}

/* home section styling */
.home{
  height: 100vh;
  width: 100%;
  background: url("images/background.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.home .home-content{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .text-two{
  color: #0E2431;
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .text-three{
  font-size: 40px;
  margin: 5px 0;
  color: #3FA2F6;
}

/* button margin */
.fcc-btn {
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: #3FA2F6;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}
.fcc-btn:hover{
  border-color: #3FA2F6;
  background-color: #fff;
  color: #3FA2F6;
}

.fcc-btn{
  margin: 14px 0;
}

/** scroll button section */
.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .scroll-down a {
    color: #fff;
    background-color: #3FA2F6;
    padding: 10px;
    border-radius: 6px;
    font-size: 20px;
    padding: 7px 12px;
    transition: background-color 0.3s ease;
  }
  
  .scroll-down a:hover {
    background-color: #0E2431;
  }



/* section styling */
section{
    padding-top: 40px;
    padding-bottom:10px;
  }
  section .content{
    width: 80%;
    margin: 40px auto;
    font-family: 'Poppins', sans-serif;
  }
  section .title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  section .title span{
    color: #0E2431;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
  }
  section .title span::before,
  section .title span::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #3FA2F6;
    left: 0;
    bottom: 0;
  }
  section .title span::after{
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
  }

  section .button{
    margin: 16px 0;
  }
  section .button button{
    outline: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 400;
    background: #3FA2F6;
    color: #fff;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  section .button button:hover{
    background-color: #fff;
    color: #3FA2F6;
  }


/* About Section Styling */

.about{
    background: #F0F8FF;
    padding-top:40px;
  }
.about .about-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .about-details .left{
  width: 45%;
}
.about .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.about-details .right{
  width: 55%;
}
section  .topic{
  color: #0E2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about-details .right p{
  text-align: justify;
  color: #0E2431;
}

.about .text{
    text-align:center
}

/* Experience CSS */
.experience .content{
    margin: 0 auto;
    padding: 30px 0;
  }
  .experience .text{
    width: 80%;
    text-align: center;
    margin: auto;
  }
  .experience-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.experience-item {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.experience-item h3 {
    margin-bottom: 10px;
    color: #333;
}

.experience-item p {
    margin-bottom: 10px;
    color: #777;
}

.experience-item ul {
    list-style-type: disc;
    padding-left: 20px;
}

.experience-item ul li {
    margin-bottom: 5px;
    color: #555;
}

/* Education CSS */
.education{
    background: #F0F8FF;
  }
  .education .content{
    margin: 0 auto;
    padding: 30px 0;
  }
  .education .text{
    width: 80%;
    text-align: center;
    margin: auto;
  }
  .education-details {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.education-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.education-item h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.education-item p {
    margin: 5px 0;
}

.relevant-coursework {
    margin-top: 40px;
}

.relevant-coursework .title span {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.coursework-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.course-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
}

.course-item h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.course-item p {
    margin: 10px 0;
}


/* Skills CSS */
  .skills .content{
    margin: 0 auto;
    padding: 30px 0;
  }
  .skills .text{
    width: 80%;
    text-align: center;
    margin: auto;
  }
.skills-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.skill-box {
    background-color: #3FA2F6;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.skill-box:hover {
    background-color: #0056b3;
}



/* Projects section styling */

.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.project-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}

.project-item img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.project-item p {
    margin-bottom: 10px;
}

.skills-used {
    /* font-weight: bold; */
    margin-bottom: 10px;
}

.project-item a {
    display: inline-block;
    background-color: #3FA2F6;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size:12px;
    transition: background-color 0.3s ease;
}

.project-item a:hover {
    background-color: #0056b3;
}

  .projects .content{
    margin: 0 auto;
  }
  .projects .text{
    width: 80%;
    text-align: center;
    margin: auto;
  }
  .projects {
    padding-top: 0px;
  }

  /* Show All button styles */
#showAllBtn {
  display: block;
  margin: 2em auto;
  padding: 0.5em 2em;
  background-color: #3FA2F6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}
#showAllBtn:hover {
  background-color: #0056b3;
}


/* Contact Me CSS */

.contact{
    background: #F0F8FF;
  }
.contact .content{
  margin: 0 auto;
  padding: 30px 0;
}
.contact .text{
  width: 80%;
  text-align: center;
  margin: auto;
}

.contact .form-container {
    margin-top: 20px;
  }
  
  .contact form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
  }
  
  .contact form input,
  .contact form textarea,
  .contact form button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact form button {
    background-color: #3FA2F6;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .contact form button:hover {
    background-color: #0E2431;
  }

/* Footer CSS */
footer{
  background: #3FA2F6;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
footer .text span{
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}
footer .text span a{
  font-weight: 500;
  color: #FFF;
}
footer .text span a:hover{
  text-decoration: underline;
}
/* Scroll TO Top Button CSS */
.scroll-button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #3FA2F6;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}





